.site-header {
  background: grey;

  & nav {
    max-width: var(--page-wide-width);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (--mobile-view) {
      flex-wrap: wrap;
    }

    & #menu-toggle {
      /* Hides menu button on non mobile */
      display: none;

      @media (--mobile-view) {
        /* Displays menu button on mobile */
        display: block;
      }
    }

    & .primary-menu-container {
      @media (--mobile-view) {
        display: none;
        flex-basis: 100%;

        &.expand {
          display: block;
        }
      }

      & ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        @media (--mobile-view) {
          display: block;
          text-align: center;
        }

        & a {
          margin-left: 1em;
          text-decoration: none;
          display: inline-block;

          &,
          &:visited {
            color: inherit;
          }
        }
      }

      & .menu-item-has-children {
        position: relative;
        padding-right: 1.4em;

        /* &:after {
          content: "+";
          margin-left: 0.125rem;
          position: absolute;
          top: 0;
          right: 0;
          width: 1.4em;
          height: 1.4em;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        & .menu-item-has-children:after {
          height: 2.4em;
        } */

        & .sub-menu {
          position: absolute;
          background: red;
          display: none;
          min-width: 200px;

          & ul {
            right: 100%;
            top: 0;
          }

          & li {
            flex-basis: 100%;

            & a {
              margin: 0;
              padding: 0.5em 1em;
            }
          }
        }

        &:hover,
        &:focus {
          & > .sub-menu {
            /* display: block; */
          }
        }
      }
    }
  }
}

& .dropdown-button.expand ~ & .sub-menu {
  display: block;
}
