# Ignore Everything:
!/assets/
/assets/css/*
!/assets/css/src/


# /assets/*
# !/assets/css/
# !/assets/js/
# # /assets/js/*
# # !/assets/js/src/
# !/assets/images/

!/inc/
!/template-parts/

# Ignore NPM dependencies
/node_modules/
package-lock.json*