# Ignore Everything:
!/assets/
/assets/*
!/assets/css/
/assets/css/*
!/assets/css/src/
!/assets/js/
/assets/js/*
!/assets/js/src/

!/inc/
!/template-parts/

# Ignore NPM dependencies
/node_modules/
package-lock.json*